
/* mobile header */

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* height: 4rem;
  box-shadow: 0px -4px 11px -1px var(--medium-grey); */
}

.mobile-btn { font-size: 1.5rem; }

.nav-list{
  background: var(--white);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: 1000;
  box-shadow: 0px -4px 11px -1px var(--medium-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  font-size: 1.2rem;
}

.nav-item {
  font-size: 1.6rem;
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item.active {
  color: #000; /* active icon color */
}


/* desktop header */
.desktop-header {
  display: block;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-header > .component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-component {
  border-radius: 20px;
  display: flex;
  width: 400px;
  border: 1px solid var(--dark-grey);
  padding: 0.7rem;
}

.search-input { padding-left: 10px; }