
.podcast-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background: var(--card-bg);;
}

.podcast-card:hover {
  transform: translateY(-10px); 
}

.podcast-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.podcast-container {
  display: grid;
  gap: 0.5rem;
}

.title { font-size: 16px; }

.genres-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.genre {
  border: 1px solid var(--header-bg);
  padding: 5px 10px;
  border-radius: 15px;
}

.genre:hover {
  background: var(--light-grey);
  color: var(--black);
}

/* podcast modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: var(--black);
  max-width: 900px;
  width: 90%;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
}

.section_title, .banner { display: flex; }

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.banner { 
  flex-direction: column; 
  gap: 1rem;
}

@media (min-width: 768px) {
  .modal-content { position: relative; }

  .banner { 
    flex-direction: row; 
    position: relative;
    margin: 1rem 0;
    align-items: flex-end;
  }

  .banner .tags { height: 30px; }

  .banner h3 {
    position: absolute;
    bottom: -2rem;
  }

  .podcast-container { gap: 1.5rem; }
}

.banner img {
  width: 45%;
  border-radius: 6px;
  align-self: flex-start;
  height: auto;
  margin: 0;
}

.podcast-info { 
  margin-left: 10px; 
  display: grid;
  gap: 1rem;
}

.banner .tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid var(--light-grey);
  padding: 5px 10px;
  border-radius: 10px;
}

@media (max-width: 767px)  {
  .modalTitle { margin-top: 1rem; }

  .banner img { margin: 1rem auto; }
}

/* podcast details page */

.podcast-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 20px;
}

.favourites-icon {
  margin-left: auto;
  padding-right: 1rem;
}

.homepage-icon { 
  display: flex;
  align-items: center;
  margin: 1rem 1.7rem;
  gap: 5px;
}

.podcast-details-page {
  width: 80%;
  margin: 1rem auto;
}

.podcast-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

.details-container > p {
  font-size: 15px;
  margin-block: 1rem;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.grid-info  h4 { margin-bottom: 0.5rem; }

.grid-info > .genres-list { display: flex; }

.genre-pill {
  background: var(--header-bg);
  padding: 1px 10px;
  border-radius: 5px;
}

.season-details {
  margin-block-start: 2rem;
  display: grid;
  gap: 1.5rem;
}

#seasonSelect { 
  margin-left: auto; 
  background: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.season-container h4 { margin-bottom: 1rem; }

.episode-list {
  display: grid;
  gap: 1rem;
}

.episode-item {
  border: 1px solid var(--header-bg);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  justify-content: space-between;
}

.episode-item:hover { 
  background: var(--background-light); 
  cursor: pointer;
}

.image-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
}

.episode-image { 
  width: 50px;
  height: auto;
  display: block;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.play-episode { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.episode-count { font-size: 11px; }

.episode-title { font-size: 13px; }

.favourite-btn { margin-left: auto; }

.add-to-favourites { display: block; }

.episode-item:hover .episode-image {
  filter: blur(3px) brightness(0.7);
  transform: scale(1.05);
}

.episode-item:hover .play-episode {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (min-width: 600px){
  .grid-info { grid-template-columns: 2fr 1fr; }
}

@media screen and (min-width: 800px) {
  .podcast-details { grid-template-columns: 50% 1fr; }

  .episode-image { width: 100px; }

  .episode-count { font-size: 17px; }

  .episode-title { font-size: 20px; }

  .episode-item:hover .play-episode { transform: translate(-50%, -50%) scale(0.7); }

  .add-to-favourites { font-size: 20px; }
}

@media screen and (min-width: 1200px) {
  .podcast-details { grid-template-columns: 25% 1fr; }

  .grid-info { grid-template-columns: 1fr 1fr; }
 
}

/* recommended podcast */
.recommended-podcast { margin: 2rem; }

.recommended-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
}

.recommended-card {
  flex: 0 0 auto;
  width: 180px;
  cursor: pointer;
  text-align: center;
  background-color: var(--header-bg);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s ease;
}

.recommended-card:hover { transform: scale(1.05); }

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}