
:root {
  --bg-color: #ffffff;
  --text-color: #222;
  --header-bg: #f5f5f5;
  --card-bg: #ffffff;
  --background-light: #E4EBFA;
  --soft-red: #FF9898;
  --red: #EA5555;
  --soft-indigo: #A8A4FF;
  --indigo: #635FC7;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --header-bg: #20212C;
  --card-bg: #2B2C37;
  --background-light: #20212C;
} 

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root { overflow: hidden; }

li { list-style: none; }

button {
  border: none;
  background: transparent;
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

img { width: 100%; }

input {
  background: none;
  border: none;
  width: 100%;
}

input:focus { outline: none; }

/* loading podcast message */

.loading-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 80%;
  text-align: center;
  margin: auto;
}

.loading-animation {
  width: 3rem;
  height: 3rem;
  border: 4px solid var(--bg-color);
  border-top-color: var(--soft-indigo);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loading-text {
  color: var(--text-color);
  font-size: 1rem;
}

/* error message */

.error-container {
  position: fixed;
  height: 150px;
  right: 0;
  bottom: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
}

.error {
  color: var(--red);
  border-radius: 50%;
  padding-block-start: 1rem;
  font-size: 2.5rem;
}

.error-icon {
  display: block;
  justify-content: center;
  margin: auto;
  border: 1px solid var(--soft-red);
  border-radius: 50vh;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 1.5rem;
  border-radius: 0.5rem;
  width: 80%;
  text-align: center;
  margin: auto;
}

/* main */
main { 
  margin-bottom: 4rem; 
  position: relative;
}

.render-podcast, .browse {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
}

.render-podcast { color: var(--text-color); }

/* container for dropdown buttons */

.container {
  padding-block-start: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
}

.dropdown-elements select {
  padding: 5px 20px;
  letter-spacing: 1px;
  font-size: 0.5rem;
  background: none;
  color: var(--text-color);
}

/* pagination */
.pagination-container { 
  position: sticky;;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 1.5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page-link:hover:not(.active):not(.disabled) {
  background: #f0f0f0;
}
.page-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.page-link.active {
  background: var(--indigo);
  color: white;
  padding: 5px 10px;
  border-radius: 60vh;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .render-podcast, .browse { 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  }

  .loading-container > div { width: 300px;}

  .container { justify-content: end; }

  .dropdown-elements select { font-size: 1rem; }
 
}

/* favourites page */
.favourites {
  width: 80%;
  margin: 2rem auto;
}

.no-saved-episodes {
  margin: 2rem auto;
  font-size: 1.3rem;
}

.saved-podcast {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.podcast-heading {
  font-size: 25px;
  letter-spacing: 1px;
}

.episode-saved {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid var(--background-light);
  padding: 0.5rem;
}

.episode-info {
  display: grid;
  gap: 5px;
}

.date-added {
  color: var(--medium-grey);
  font-size: 14px;
}

.episode-actions { margin-left: auto; }